## London Bike Sharing Analysis

In [1]:
#importing useful libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#importing London Bike Sharing Dataset
df = pd.read_csv("london_merged.csv")

In [3]:
#1st five rows of dataset
df.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [5]:
#last 5 rows of dataset
df.tail()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [6]:
#Rows and Columns of the Dataset
rows,columns = df.shape
print("The number of rows in the Dataset are : {} and number of columns in the Dataset are {}".format(rows,columns))

The number of rows in the Dataset are : 17414 and number of columns in the Dataset are 10

In [8]:
# Names of the columns
print(df.columns)

Index(['timestamp', 'cnt', 't1', 't2', 'hum', 'wind_speed', 'weather_code',
       'is_holiday', 'is_weekend', 'season'],
      dtype='object')

In [9]:
#Rename the names of some Columns
df.rename(columns={'cnt':'count','t1':'c_temp','t2':'f_temp','hum':'humidity'},inplace=True)
print(df.columns)

Index(['timestamp', 'count', 'c_temp', 'f_temp', 'humidity', 'wind_speed',
       'weather_code', 'is_holiday', 'is_weekend', 'season'],
      dtype='object')